/* Main styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.text-copy-stroke {
  fill: none;
  stroke: white;
  stroke-width: 10px;
}

.text-copy--shadow {
  fill: rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(0.06em, 0.06em);
  -ms-transform: translate(0.06em, 0.06em);
  transform: translate(0.06em, 0.06em);
}

.c-fill {
  fill: url(#p-lines);
  -webkit-transform-origin: 400px 150px;
  -ms-transform-origin: 400px 150px;
  transform-origin: 400px 150px;
  -webkit-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  transform: rotate(32deg);
}

/* Fix for firefox */
.r-fill--color {
  fill: #1a8cff;
}

/* Other styles */
html, body {
  height: 100%;
}

body {
  background: gold -webkit-radial-gradient(#ffd700, #ff4500);
  background: gold radial-gradient(#ffd700, #ff450);
  font: 10em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
