/* Main styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.text-copy-stroke {
  fill: none;
  stroke: white;
  stroke-width: 10px;
}

.text-copy--shadow {
  fill: rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(0.06em, 0.06em);
  -ms-transform: translate(0.06em, 0.06em);
  transform: translate(0.06em, 0.06em);
}

.c-fill {
  fill: url(#p-lines);
  -webkit-transform-origin: 400px 150px;
  -ms-transform-origin: 400px 150px;
  transform-origin: 400px 150px;
  -webkit-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  transform: rotate(32deg);
}

/* SET 1 Changes: */

svg:nth-child(2) {
	font: .5em/1 Open Sans, Impact;
}

svg:nth-child(2) .text-copy-stroke {
  fill: none;
  stroke: rgba(255,255,255,.8);
  stroke-width: 5px;
}

svg:nth-child(2) .c-fill {
  fill: url(#p-lines-gold);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Fix for firefox */
.r-fill--color {
  fill: #1a8cff;
}

/* Other styles */
html, body {
  height: 100%;
}

body {
  background: gold -webkit-radial-gradient(#ffd700, #ff4500);
  background: gold radial-gradient(#ffd700, #ff450);
  font: 7em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

svg {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/*This is for the defs, so not visible*/
.vid-defs {
  width: 0;
  height: 0;
}

/*This was the rectangle in the defs (not visible) svg*/
.mask__shape {
  /*Remember, in a mask, the fill controls how much of the underlying content shows through*/
  /*e.g. #ffffff wil block all color, #000000 will be transparent.*/
  fill: #ffffff;
}

/*This controls the 'fill' color of the mask itself.*/
.shape--fill {
  fill: #000;
}

/*This hides the 'selectable' text*/
.text--transparent {
  fill: transparent;
}

.box-with-text {
  position: relative;
}

/*The text fill is the video that 'fills' the text under the mask.  Here, we position it under the txt*/
.text-fill {
  position: absolute;
  top: -67%;
  margin: auto;
  overflow: hidden;
  border: 3px solid red;
}

.video {
  z-index: 0;
}

.svg-inverted-mask {

  z-index: 10;
  width: 100%;
  height: 100%;
}


