body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 90vw;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

h2 {
	padding: 0 60px;
	font-size: 40px;
}

h3 {
	padding: 0 60px;
	font-size: 30px;
	margin: 20px 0;
	transition-property: all;
	transition-duration: 750ms;
	transition-delay: 0ms;
	transition-timing-function: ease-in;
	transform-origin: 3em .5em;
	cursor: pointer;
}


h3.rotate:hover {
	transform: rotateZ(90deg);
	-webkit-transform: rotateZ(90deg);
	color: red;
}

h3.flip:hover {
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
	color: red;
}

h3.zoom:hover {
	transform: scale(2);
	-webkit-transform: scale(2);
	color: red;
}

h3.td:hover {
	transform: rotate3d(1, .5, 0, 45deg);
	color: red;
}

h3.ls:hover {
	letter-spacing: 2em;
	color: red;
}

h3.ws:hover {
	word-spacing: 4em;
	color: red;
}

svg {
	font-size: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 60px;
	font-weight: bold;
}

.anstroke {
	transition-property: all;
	transition-duration: 750ms;
	transition-delay: 0ms;
	transition-timing-function: ease-in;
	cursor: pointer;
}

.anstroke:hover {
	stroke-color: rgba(200,0,0,.3);
	stroke-width: 5px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
